*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
}

.footer-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 20%;
    margin-top: 20px;
    
}

.footer-h4{
    color: white;
    padding-bottom: 20px;
}

.footer-ul{
    color: #979393dc;
    list-style-type: none;
    
}

.footer-box{
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 5px;
}

.logo{
    padding: 10px;
    margin: 0 10px;
    background-color: #292929;
    border-radius: 50%;
    position: relative;
    
}

.footer-logo::after{
    content: '';
    background: #dccfcf;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.footer-logo{
    margin: auto;
}

.logo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: grey;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);     
}

.logo:hover::after{
    transform: scale(1, 1);
}

footer{
    color: gainsboro;
    font-size: small;
}
