@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CircularSpTitle;
    src: url("fonts/CircularSpotifyText-bold.otf") format("opentype");
}
@font-face {
    font-family: CircularSp;
    src: url("fonts/CircularSpotifyText-medium.otf") format("opentype");
}