* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.spotify-background {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.spotify-logo {
  width: 25%;
  height: auto;
  cursor: pointer;
}
.first-components {
  background-color: rgba(255, 255, 255, 0.07);
  max-width: 30%;
  padding: 20px;
  border-radius: 10px;
}

.second-components {
  background-color: rgba(255, 255, 255, 0.07);
  max-width: 30%;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.first-component {
  padding: 8px 0;
}

.playlist-bars {
  overflow-y: auto;
  height: 95px;
}

.playlist {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0 0;
}
.playlist h4 {
  margin: 5px 0 10px;
}

.create-playlist {
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5rem;
  margin: 25px 0 5px;
  cursor: pointer;
}

.home-gap {margin-bottom: 15px;}

.main-icon-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  
}

.add{
  color: gray;
}
.add:hover{
  color: white;
}

.icon-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
}
.comment {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: start;
  align-items: center;
  gap: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.comment p {
  font-size: 10px;
  color: gray;
}
.comment p:last-child:hover {
  text-decoration: underline;
}

/* .icon-flex p {
   margin-left:-120px ;
*/

.img-size {
  width: 20px;
  height: 20px;
  color: #efefef;
}

.component-hover {
  color: gray;
  cursor: pointer;
}

.component-hover:hover {
  color: white;
}

.add-playlist-position {
  position: relative;
}

.add-playlist {
  background-color: rgb(35, 35, 35);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;

  position: absolute;
  right: -20px;
  top: -25px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.5s;
}

.add,
.library {
  cursor: pointer;
}

.add:hover + .add-playlist {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.add-library {
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;

  position: absolute;
  left: 10px;
  top: -25px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.5s;
}

.library:hover + .add-library {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.svg {
  width: 20px;
  height: 20px;
  fill: gray;
}
.svg:hover {
  fill: white;
}
.english {
  box-shadow: none;
  border-radius: 9999px;
  border: 0.1px groove rgba(255, 255, 255, 0.514);
  padding:2px 10px;
  text-align: center;
  font-size: 14px;
  background-color: #121212;
  fill: white;
  width: 100px;
  cursor: pointer;
}

.english:hover {
  border: 2px groove rgba(255, 255, 255, 0.719);
}
.pointer {
  cursor: default;
}

.english-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap:3px;
}